@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
body{
    background-image: url('https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/337000/2f1c9f245116a9db976bac1b0b183071b4286a51.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html{
    width: 100%;
}
/* Header */
.card{
    margin: 0% !important;   
    background-color: #00000000;
    border: none;
}
/* Content */
.card-group{
    height: 80%;
}
/* Image */
.center{
    height: auto;
    width: 100%;
}
/* Interactive */
.center2{
    padding: auto !important;
    margin: auto 10% auto auto !important;
}
#input-group {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#input-group-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Button */
.button {
    width: 30%;
    margin: 0% !important;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #7F54B6;
    border: none;
    border-radius: 0px 16px 16px 0px;
    box-shadow: 0 5px #663D99;
    display: block;
  }
  .button:hover {background-color: #8C69BF}
  .button:active {
    background-color: #8C69BF;
    box-shadow: 0 0px #6F44AA;
    transform: translateY(5px);
  }
/* Input */
.answerbox{
    width: 70%;
    text-align: center;
    background-color: #EFEFEF;
    border: 1px #696969;
    outline: none;
    border-radius: 16px 0px 0px 16px;
    box-shadow: 0 5px #909090;
}
/* Results */
#desc-text {
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}
#desc-holder {
    height: fit-content;
}
@media screen and (Orientation: Portrait) {
    .emptyspace{width: 100%;height: 8vw;background-color: #00000000;}
    h1{
        color: white;
        height: 11vw;
        display: flex;
        font-size: 9vw !important;
        font-family: 'Comfortaa', sans-serif;
        font-weight: 300;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: #00000000;
        border: none;
    }
    .card-img{
        max-height: 60%;
        max-width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
			/* Input */
    .answerbox{
        height: auto;
    }
			 /* Button */
    .button{
        height: auto;
    }
    p{
        font-size: 3vmax !important;
    }
}
@media screen and (Orientation: Landscape) {
    .emptyspace{width: 0%;height: 0vw;}
    h1{
        height: 0px;
        width: 0px;
        color: #00000000;
        background-color: #00000000;
    }
    .card-img{
        max-height: 100%;
        max-width: 100%;
        margin: auto;
    }
    /* Input */
    .answerbox{
        height: 100%;
    }
    /* Button */
    .button {
        height: 100%;
    }
    p{
        font-size: 3vmax !important;
    }
}