@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
html{
    width: 100%;
}

/* Main Body */
body{
    background-image: url('https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/337000/2f1c9f245116a9db976bac1b0b183071b4286a51.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* Header */
h1{
    color: white;
    font-size: 9vw !important;
    height: 11vw;
    display: flex;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #00000000;
    border: none;
}

/* Header Buffer */
.emptyspace{
	width: 100%;
	height: 8vw;
	background-color: #00000000;
}

/* Center Image */
#content-img{
    max-height: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

/* Description Text */
p{
    font-size: 5vw !important;
}

/* All card elements */
.card{
    margin: 0% !important;   
    background-color: #00000000;
    border: none;
}

/* Image Holder */
#img-holder{
    height: auto;
    width: 100%;
}

/* Input Group Main */
#input-group {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Input Group 2 */
#input-group-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto !important;
    margin: auto 10% auto auto !important;
}
/* Button */
.button {
    width: 30%;
    margin: 0% !important;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #7F54B6;
    border: none;
    border-radius: 0px 16px 16px 0px;
    box-shadow: 0 5px #663D99;
    display: block;
}
.button:hover {
    animation-name: buttonReady;
	animation-duration: 0.3s;
	background-color: #8C69BF;
    transform: translateY(-5px);
	box-shadow: 0 10px #6F44AA;
}
.button:active {
    animation-name: buttonPress;
	animation-duration: 0.1s;
    background-color: #7A7EBB;
    box-shadow: 0 0px #6F44AA;
    transform: translateY(5px);
}

/*-------------------------Animation Keyframes-------------------------*/
@keyframes buttonReady {
    0% {
        background-color: #7F54B6;
        transform: translateY(0px);
        box-shadow: 0 3px #6F44AA;
    }
    30% {
        background-color: #7B4EAD;
        transform: translateY(-3px);
        box-shadow: 0 7px #6F44AA;
    }
    100% {
        background-color: #8C69BF;
        transform: translateY(-5px);
        box-shadow: 0 10px #6F44AA;
    }
}

@keyframes buttonPress {
    0% {
        background-color: #7F54B6;
        transform: translateY(-5px);
        box-shadow: 0 10px #6F44AA;
    }
    30% {
        background-color: #7B4EAD;
        transform: translateY(3px);
        box-shadow: 0 3px #6F44AA;
    }
    100% {
        background-color: #7A7EBB;
        transform: translateY(5px);
        box-shadow: 0 0px #6F44AA;
    }
}

/* Text Input Box */
#text-input {
    width: 70%;
    text-align: center;
    background-color: #EFEFEF;
    border: 1px #696969;
    outline: none;
    border-radius: 16px 0px 0px 16px;
    box-shadow: 0 5px #909090;
}

/* Output */
#desc-text {
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}
#desc-holder {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 720px) {
    .buffer{
        width: 1%;
    }
    .contain{
        width: 720px;
        margin: auto;
    }
    h1{
        height: 59.03px !important;
        font-size: 48.06px !important;
    }
    .emptyspace{
        height: 10.19px !important;
    }
    .card-img{
        height: 380px !important;
        width: 380px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #input-group{
        max-width: 415.17px;
        max-height: 90px;
    }
    #desc-holder{
        max-width: 540px !important;
    }
    p{
        font-size: 27px !important;
    }
}
